body,
html {
  height: 100%;
  margin: 0;
}

.study-buddy-app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button {
  background: none;
  border: none;
  color: white;
  font-size: 48px;
  cursor: pointer;
}
